* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

html,
body {
    height: 100%;
}

body {
    background-image: url('#{$images}horror.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
}

.wrap-cont {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: $content-background;
    background-size: contain;
    width: 60%;
    margin: 0 auto;
    color: $dark-gray;
}

.main {
    flex: 1 0 auto;
}

.header,
.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 48em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.widescreen .container {
    max-width: 72em;
}

/* very ugly overflow fix, avoid this whenever possible! */

.main .container {
    overflow-x: auto;
}

.main-cont {
    min-height: 400px;
}

.underscore {
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1px solid $print-red-fade;
    text-align: center;
}

.underscore i,
.underscore a i {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: $print-red-fade;
}

.underscore p {
    color: $black;
    text-align: justify;
}

.underscore p:last-child {
    margin-bottom: 3rem;
}

.underscore p::first-letter {
    color: $print-red;
    font-weight: bolder;
}
