/*** BASIC LAYOUT: FOOTER ***/

.footer {
    background: $foot-red;
    color: $foot-print;
    margin-top: 20px;
}

.footer a {
    color: $foot-print-fade;
}

.footer a:hover {
    color: $foot-print;
}

.footer p {
    margin: 0;
    padding: 3em 0;
}

.footer .social {
    float: right;
    padding: 1.5em 0 1.5em 1em;
    font-size: 2rem;
}
