/*** BASIC LAYOUT: HEADER ***/

.title {
    margin: 0;
    width: 35%;
}

.title,
.logo {
    float: left;
    padding: 2em 2em 2em 0;
}

.title * {
    margin: 0;
    color: $dark-gray;
}

.title h1 {
    color: $print-red;
}

.title p {
    font-style: italic;
    font-weight: 500;
}

.logo {
    height: 12.8em;
}

.logo * {
    display: block;
    height: 100%;
}

.logo img {
    min-width: 4.8em;
}

.logo+.title.tagline h1 {
    margin: 0;
}

.nav {
    padding: 3em 0;
    text-align: right;
    font-weight: 500;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

.nav a,
.nav-toggle {
    color: $dark-gray;
}

.nav .active a,
.nav a:hover,
.nav-toggle:hover {
    text-decoration: underline;
    color: $print-red;
}

.nav a:hover,
.nav-toggle:hover {
    text-decoration: underline;
    color: $print-red;
}

.nav-toggle {
    display: none;
}

/* IE8 + IE9 clearfix */

.header>.container::after {
    content: '';
    display: block;
    clear: both;
}

.flash-img {
    width: 100%;
    height: 205px;
    object-fit: cover;
    object-position: bottom;
    filter: contrast(75%) brightness(95%);
}
