.report-grid {
    margin-top: 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
}

.report-grid h1 {
    grid-column: span 3;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    margin: 0 !important;
}

.kmom-box {
    width: 100%;
    text-align: center;
    height: 14em;
    border: 1px solid $print-red-fade;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

.kmom-box p {
    text-align: center;
    margin: 0;
}

.kmom-box div {
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
}

.kmom-box h4 {
    color: $print-red-fade;
    margin: 0;
}

.kmom-box a {
    font-size: 1.6em;
    color: $print-red-fade;
    margin: 0;
}

.kmom-box i {
    color: $print-red-fade;
}

.kmom-box.project {
    grid-column: span 3;
}

.kmom-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.kmom-grid h1,
h2,
h3,
table {
    grid-column: 2;
    text-align: center;
}

.kmom-grid p {
    grid-column: 2;
}

.kmom-grid ul {
    grid-column: 1;
    grid-row: 2 / span 2;
    list-style: none;
    padding-left: 0;
}
