$images: '../../../assets/img/';
$print-red: #bb170a;
$print-red-fade: #c65045;
$link: #c65045;
$dark-gray: #252525;
$content-background: #fff;
$footer: #202020e5;
$foot-print: #fff;
$onred: #fff;
$foot-print-fade: rgba(255, 255, 255, 0.8);
