$images: '../../../assets/img/';
$print-red: #c65045;
$print-red-fade: #c65045;
$link: #c65045;
$dark-gray: #eee;
$content-background: #202020e5;
$footer: #202020e5;
$foot-print: #d3cbca;
$onred: #202020e5;
$foot-print-fade: #d3cbca;
$black: #eee;
