$images: '../../../assets/img/';
$print-red: #B53126;
$print-red-fade: #D35147;
$link: #488C96;
$dark-gray: #252525;
$print-gray: #444;
$content-background: #fff;
$foot-red: #8f160de7;
$foot-print: #fff;
$onred: #fff;
$foot-print-fade: rgba(255, 255, 255, 0.8);
