$images: '../../../assets/img/';
$print-red: #fff;
$print-red-fade: #d3cbca;
$link: #fff;
$dark-gray: #fff;
$content-background: #4d1f1bdc;
$footer: #4d1f1bdc;
$foot-print: #fff;
$onred: #4d1f1bdc;
$foot-print-fade: rgba(255, 255, 255, 0.8);
