$images: '../../../assets/img/';
$print-red: rgba(255, 255, 255, 0.8);
$print-red-fade:  rgba(255, 255, 255, 0.8);
$link: #338894;
$dark-gray: #fff;
$print-gray: #fff;
$content-background: #450c08f5;
$foot-red: #450c08f5;
$foot-print: #fff;
$onred: #450c08f5;  
$foot-print-fade: rgba(255, 255, 255, 0.8);
